.header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: var(--neutral-900);
	box-shadow: var(--shadow);
	padding: 18px 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	color: var(--neutral-400);
}

.logo {
	display: block;
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

.active,
.inactive {
	font-size: 1rem;
	font-weight: 500;
	transition: color var(--base-transition);
}

.active {
	color: var(--violet-500);
}
