.primary-10 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 32px;
	padding: 8px 14px;
	border-radius: 12px;
	border: none;
	background: var(--violet-700);
	color: var(--neutral-0);
	font-family: var(--font-inter);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	transition:
		background var(--base-transition),
		color var(--base-transition);

	@media only screen and (hover: hover) {
		&:hover {
			background: var(--violet-500);
			color: var(--neutral-0);
		}
	}

	&:disabled,
	&[aria-disabled='true'] {
		background: var(--neutral-200);
		color: var(--neutral-400);
		cursor: not-allowed;
		pointer-events: none;
	}
}

.primary-20 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 40px;
	padding: 8px 14px;
	border-radius: 12px;
	border: none;
	background: var(--violet-700);
	color: var(--neutral-0);
	font-family: var(--font-inter);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	transition:
		background var(--base-transition),
		color var(--base-transition);

	@media only screen and (hover: hover) {
		&:hover {
			background: var(--violet-500);
			color: var(--neutral-0);
		}
	}

	&:disabled,
	&[aria-disabled='true'] {
		background: var(--neutral-200);
		color: var(--neutral-400);
		cursor: not-allowed;
		pointer-events: none;
	}
}
